/* resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* pre defining colors variables */
:root {
  --color-primary: #263238;
  --color-secondary: darkgrey;
  --main-text-color: #fff;
  --main-content-bg: #fafafa;
}

body {
  font-family: "Roboto", sans-serif;
}

/* homepage section */
.homepage {
  height: 100vh;
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-gap: 5px;
  background-color: var(--main-content-bg);
}

/* header section */
.header,
.agent-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--color-primary);
  padding: 0.5rem;
  grid-area: header;
}

.pull-right {
  float: right;
}

/* .logo-main {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.agent-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


li {
  float: left;
  margin-right: 5px;
}

li a,
li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.select-prop-types {
  height: 2.5rem;
}

.agent-header img {
  height: 1.2rem;
  width: auto;
}

li .logo:hover {
  background: none;
}

.actions {
  display: grid;
  padding: 10px;
  grid-template-columns: 1;
  grid-gap: 1rem;
}

.btn-action {
  cursor: pointer;
  border: none;
  color: white;
  align-items: center;
  width: 100%;
  font-size: 15px;
  padding: 2%;
  background-color: var(--color-primary);
  border-radius: 5px;
}

.small-icon {
  font-size: 2rem;
}

.header img {
  width: 30px;
  height: 30px;
}

.header:first-child {
  float: left;
}

.nav {
  float: right;
}

.nav a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

/* .agent-header {} */
.v-form {
  display: flex;
  flex-direction: column;
}

.f-centered {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(-135deg, #d3d3d3, var(--color-primary));
}

.f-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "f-logo"
    "v-form";
  background-color: #fff;
  width: 80%;
  padding: 1rem;
}

.f-title {
  font-size: 2rem;
}

.f-container form input {
  padding: 0.8rem;
  margin: 0.5rem 0;
}

.f-container form p {
  margin-top: 1rem;
}

.f-container form a {
  text-decoration: none;
}

.f-container form p a {
  color: grey;
}

.f-padding {
  height: 2.2rem;
  margin-bottom: 1em;
}

.f-padding-on {
  padding: 0.5rem;
  margin-bottom: 1em;
}

.advert-main .ads-card h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.is-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* aside section */
.aside {
  grid-area: aside;
  padding: 5px;
}

.aside>section {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(185, 185, 185, 0.897);
  border-radius: 12px;
  height: 80vh;
}

.aside>section>h2 {
  font-size: 15px;
  border-radius: 12px 12px 0 0;
  text-align: center;
  color: var(--main-text-color);
  padding: 12px;
  background-color: var(--color-primary);
}

.aside>section>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.aside>section>div>p {
  margin-bottom: 1rem;
}

.aside>section>div>p>label {
  text-transform: capitalize;
}

select {
  display: block;
  font-weight: 700;
  margin-top: 0.5rem;
  color: var(--color-primary);
  line-height: 1.3;
  width: 100%;
  max-width: 100%;
  border: 1px solid var(--color-primary);
  border-radius: 12px;
}

/* main section */
.homepage-main {
  grid-area: main;
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 0.5rem;
}

.agent-main,
.advert-main {
  grid-area: main;
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 0.5rem;
}

.advert-main {
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.advert-main .ads-card {
  width: 60%;
}

/* footer section */
.footer {
  grid-area: footer;
  color: white;
  background-color: var(--color-primary);
  padding: 2rem;
}

.footer>p {
  display: flex;
  justify-content: center;
}

/* card section */
.card,
.ads-card {
  display: flex;
  background-color: var(--color-secondary);
  border-radius: 12px;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(185, 185, 185, 0.897);
}

.ads-card {
  grid-template-columns: 1fr;
  background-color: #fff;
  padding: 1rem;
}

.ads-card input {
  padding: 0.5rem;
}

.card .featured {
  position: relative;
  z-index: 0;
}

.card .featured img {
  display: block;
  border-radius: 12px 12px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card .featured .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  color: var(--color-primary);
  justify-content: space-evenly;
  font-weight: lighter;
  height: 100%;
  background-color: var(--color-secondary);
}

.card .card-content .card-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card .card-action {
  background-color: inherit;
  border-top: 1px solid rgba(255, 255, 255, 0.856);
  border-radius: 0 0 12px 12px;
  background-color: var(--color-primary);
  position: relative;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
}

.card .card-action a {
  text-decoration: none;
  color: var(--main-text-color);
  text-align: center;
}

/* details page section */
.detail-main {
  display: flex;
  min-height: 95vh;
  justify-content: center;
}

.single-property {
  display: grid;
  background: #fff;
  width: 85%;
  font: 0.8em "Helvetica Neue", sans-serif;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: 2; */
  grid-template-areas:
    "dheader dheader"
    "featured ddetails"
    "carousel ddetails";
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.08);
  padding: 26px 20px 0;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.detail-header {
  grid-area: dheader;
  margin-bottom: 1.2rem;
}

.detail-header h1 {
  font-size: 1.2rem;
}

.single-property .featured {
  grid-area: featured;
}

.is-rounded {
  border-radius: 12px;
}

.detail-details {
  display: flex;
  flex-direction: column;
  grid-area: ddetails;
}

.detail-details .prices {
  border: 2px solid #dddd;
  border-radius: 5px;
  margin: 0 0.5rem;
  color: #454545;
}

.price-details {
  border-top: 5px solid #dddd;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-item {
  display: flex;
  justify-content: space-between;
}

.detail-item label::after {
  content: " :";
}

.detail-item span {
  font-weight: bolder;
}

.prices .price {
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-carousel {
  display: grid;
  min-height: 5rem;
  margin-top: 2px;
  margin-bottom: 5px;
  background-color: var(--color-primary);
  border-radius: 12px;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  grid-gap: 1rem;
  grid-area: carousel;
  padding: 0.5rem;
}

.single-property .featured img {
  width: 100%;
  cursor: pointer;
}

.carousel-thumbnail-img {
  width: 100%;
  height: 100%;
  margin-left: 0.1em;
}

.carousel-thumbnail-img:hover,
.selected {
  border: 2px solid #fff;
  cursor: pointer;
}

.carousel-img {
  display: none;
}

.white {
  color: #fff;
}

/* reset material icons used in carousel */
.material-icons {
  font-size: 60px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.material-icons:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* tablets */
@media only screen and (min-width: 415px) and (max-width: 1024px) {
  .homepage {
    grid-template-columns: 10rem 1fr;
  }

  /* handling details page on tablets */
  .single-property {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "dheader"
      "ddetails"
      "featured"
      "carousel";
  }

  .detail-details {
    margin-bottom: 0.5rem;
  }

  .detail-details .prices {
    margin: 0;
  }

  .detail-header h1 {
    text-align: center;
  }

  .prices .price {
    font-size: 1rem;
    padding: 5px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .detail-carousel {
    display: none;
  }

  .f-container {
    grid-template-columns: 1fr;
    width: 100%;
    min-height: 100vh;
  }

  .advert-main .ads-card {
    width: 100%;
  }
}

.managepage {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-gap: 5px;
  background-color: var(--main-content-bg);
}

.managepage .material-icons {
  font-size: 1.2rem;
  text-align: center;
}

.web-name {
  color: #fff;
}

/* phones  */
@media only screen and (max-width: 414px) {
  .homepage {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
  }

  .aside {
    margin-top: 4rem;
  }

  .aside>section {
    height: min-content;
  }

  /* handling details page on phone */
  .single-property {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "dheader"
      "ddetails"
      "featured"
      "carousel";
  }

  .detail-details {
    margin-bottom: 0.5rem;
  }

  .detail-details .prices {
    margin: 0;
  }

  .detail-header h1 {
    text-align: center;
  }

  .prices .price {
    font-size: 1rem;
    padding: 5px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .detail-carousel {
    display: none;
  }

  .f-container {
    grid-template-columns: 1fr;
    width: 100%;
    min-height: 100vh;
  }

  .advert-main .ads-card {
    width: 100%;
  }
}